
<! -- /* copyright p.simek css */
 -->



/* Basic */




html {
  font-family: Helvetica, Arial, sans-serif;

  
}


a {
  text-decoration: underline;
  -webkit-text-decoration-color: white; /* Safari */  
  text-decoration-color: red;
}
  
  h1  {
	  
	  color: white;
	  
}

.responsive1 {
  width: 375px;
  height: auto;
}

.responsive2 {
  width: 375px;
  height: auto;
}

.responsive3 {
  width: 375px;
  height: auto;
}

.responsive4 {
  width: 375px;
  height: auto;
}
.responsive5 {
  width: 375px;
  height: auto;

}

.responsive6 {
  width: 375px;
  height: auto;

}

.responsive7 {
  width: 375px;
  height: auto;

}

 .responsive8 {
  width: 145px;
  height: 145px;
  background-color:transparent;
  border: 0px;
  rotate: 45deg;
     
}


body {
  background: #222831;
}

.pulse {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 145px;
  height: 145px;
   
  &:before {
    content: "";
    position: relative;
    display: block;
    width: 250%;
    height: 250%;
    box-sizing: border-box;
    margin-left: -75%;
    margin-top: -75%;
    border-radius: 45px;
    background-color: #75daad;
    animation: pulse 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #75daad;
    border-radius: 50px;
    animation: circle 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 375px;
  background-color: white;
}


.container {
	p { width: 365px;
	background-image: url('sparkle.png');

	
	parallax {
  /* The image used */
  background-image: url("sparkle.png");

  /* Set a specific height */
  height: 2400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
}
