
<! -- /* copyright p.simek css */
 -->



/* Basic */



html {
font-family: "Times New Roman", Times, serif;

}

.responsive1 {
  width: 375px;
  height: auto;
}

.responsive2 {
  width: 375px;
  height: auto;
}

.responsive3 {
  width: 375px;
  height: auto;
}

.responsive4 {
  width: 375px;
  height: auto;
}
.responsive5 {
  width: 375px;
  height: auto;

}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 370px;
  background-color: white;
}




